<div class="item" style="font-family: Monocraft, serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid darkgrey;
    padding: 8px;
    font-size: 20px;
">{{{greeting}}}</div>