<div class="item" style="
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid darkgrey;
    padding: 8px;
    font-size: 20px;
">Welcome, {{{userEmail}}}!. <a href="{{{activationUrl}}}">{{{activationUrl}}}</a></div>